@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    @page {
        size: A4 landscape;
        margin: 1cm;
    }
    
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
